name: Release

on:
  push:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: release
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          target-branch: master

      - name: Enable Auto-Merge
        if: ${{ steps.release.outputs.pr }}
        env:
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          PR_NUMBER=$(echo '${{ steps.release.outputs.pr }}' | jq -r '.number')
          gh pr merge $PR_NUMBER --auto --squash --repo ${{ github.repository }}
